<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>This is a Roulette Table</title>
        <link href="../static/style.css" rel="stylesheet">
 
    </head>
    <body style="background-color: green;">
        <section>
            <h1 style="color: white"> Excuse me sir, this is a roulette table.</h1>
            <div>
                <h2 id="funds" style="color: white">Funds: 100</h2>
            </div>
            <div class="gameTable">
                <div id = "0" class="cell">0</div>
                <div id = "00" class="cell">00</div>
                <div id = "null" class="cell"></div>
                <div id = "1" class="cell" style="background-color: black">1</div>
                <div id = "2" class="cell" style="background-color: red">2</div>
                <div id = "3" class="cell" style="background-color: black">3</div>
                <div id = "4" class="cell" style="background-color: red">4</div>
                <div id = "5" class="cell" style="background-color: black">5</div>
                <div id = "6" class="cell" style="background-color: red">6</div>
                <div id = "7" class="cell" style="background-color: black">7</div>
                <div id = "8" class="cell" style="background-color: red">8</div>
                <div id = "9" class="cell" style="background-color: black">9</div>
                <div id = "10" class="cell" style="background-color: red">10</div>
                <div id = "11" class="cell" style="background-color: black">11</div>
                <div id = "12" class="cell" style="background-color: red">12</div>
                <div id = "13" class="cell" style="background-color: black">13</div>
                <div id = "14" class="cell" style="background-color: red">14</div>
                <div id = "15" class="cell" style="background-color: black">15</div>
                <div id = "16" class="cell" style="background-color: red">16</div>
                <div id = "17" class="cell" style="background-color: black">17</div>
                <div id = "18" class="cell" style="background-color: red">18</div>
                <div id = "19" class="cell" style="background-color: black">19</div>
                <div id = "20" class="cell" style="background-color: red">20</div>
                <div id = "21" class="cell" style="background-color: black">21</div>
                <div id = "22" class="cell" style="background-color: red">22</div>  
                <div id = "23" class="cell" style="background-color: black">23</div>
                <div id = "24" class="cell" style="background-color: red">24</div>
                <div id = "25" class="cell" style="background-color: black">25</div>
                <div id = "26" class="cell" style="background-color: red">26</div>
                <div id = "27" class="cell" style="background-color: black">27</div>
                <div id = "28" class="cell" style="background-color: red">28</div>
                <div id = "29" class="cell" style="background-color: black">29</div>
                <div id = "30" class="cell" style="background-color: red">30</div>
                <div id = "31" class="cell" style="background-color: black">31</div>
                <div id = "32" class="cell" style="background-color: red">32</div>
                <div id = "33" class="cell" style="background-color: black">33</div>
                <div id = "34" class="cell" style="background-color: red">34</div>
                <div id = "35" class="cell" style="background-color: black">35</div>
                <div id = "36" class="cell" style="background-color: red">36</div>
            </div>
            <div>
                <input type="button" id="black" value="Black">
                <input type="button" id="red" value="Red">
            </div>
            <h2 id="pocket" style="color: white">00</h2>
            <button class="roulette-wheel">Spin</button>
        </section>
    </body>
    <script src="../roulette.js"></script>
</html>